body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(7, 233, 101);
}

canvas {
  position: absolute;
  display:block;
  box-sizing: border-box;
}


#header {
 position: absolute;
 align-items: center;
 top: 10px;
 bottom: 10px;
 color: rgb(187, 6, 0);
 font-family: Arial,sans-serif;
 font-size: 2.5rem;
}

#video {
  top: 10px;
  border: 5px solid rgb(207, 40, 10);
  border-radius: 60px;
  box-shadow:  1rem 1rem 0 rgba(7, 7, 7, 0.7);
  width: auto;
  height:auto;

}